<section id="about">
  <div class="col-md-8 col-md-offset-2">
    <h1>About</h1>
    <div id="about-home" class="col-md-3">
      <i class="fa fa-4x fa-home"></i>
      <h2>home</h2>
      <p>My hometown is Randolph, MA, a diverse community just 15 miles south of Boston. I'm considered a Dolphin.</p>
    </div>
    <div id="about-school" class="col-md-3">
      <i class="fa fa-4x fa-pencil-square-o"></i>
      <h2>school</h2>
      <p>I'm a recent graduate from Northeastern University with a Bachelor of Science in Computer Science &amp; Business.</p>
    </div>
    <div id="about-work" class="col-md-3">
      <i class="fa fa-4x fa-cog"></i>
      <h2>work</h2>
      <p>Expect nothing less than my full investment. My colleagues can vouch for my commitment, determination, and work ethic.</p>
    </div>
    <div id="about-passion" class="col-md-3">
      <i class="fa fa-4x fa-heart-o"></i>
      <h2>passion</h2>
      <p>Programming is an opportunity to build something impactful. My passion to create is what drives my learning.</p>
    </div>
  </div>
  <div class="clearfix"></div>
</section>