<section id="contact">
  <div class="col-md-8 col-md-offset-2">
    <h1>Contact</h1>
    <a href="mailto:seeto.alexander@gmail.com?Subject=Open%20Source">
      <div class="col-md-4">
        <i class="fa fa-4x fa-code-fork"></i>
        <h3>Open Source</h3>
        <p>Have something in the works that you'd like help with? Click here to connect!</p>
      </div>
    </a>
    <a href="mailto:seeto.alexander@gmail.com?Subject=Work%20Proposal">
      <div class="col-md-4">
        <i class="fa fa-4x fa-briefcase"></i>
        <h3>Work Proposals</h3>
        <p>For professional or freelance opportunities, please email me further details.</p>
      </div>
    </a>
    <a href="mailto:seeto.alexander@gmail.com?Subject=General%20Contact">
    <div class="col-md-4">
      <i class="fa fa-4x fa-envelope"></i>
      <h3>General Contact</h3>
      <p>Questions, comments, concerns? Click here to touch base and to see how I can help.</p>
    </div>
    </a>
  </div>
  <div class="clearfix"></div>
</section>