<section id="employment">
    <div class="col-md-8 col-md-offset-2">
        <a target="_blank" href="http://www.northeastern.edu/its/">
            <div class="col-md-3">
                <img src="img/emp1.png">
                <h3>Northeastern</h3>
                <p>Service Desk (IT Support)</p>
            </div>
        </a>
        <a target="_blank" href="http://www.phtcorp.com/Home.aspx">
            <div class="col-md-3">
                <img src="img/emp2.png">
                <h3>PHT Corporation</h3>
                <p>Software Test Engineer</p>
            </div>
        </a>
        <a target="_blank" href="http://www.navinet.net/">
            <div class="col-md-3">
                <img src="img/emp3.png">
                <h3>NaviNet</h3>
                <p>Software Engineer</p>
            </div>
        </a>
        <a target="_blank" href="http://www.novartis.com/">
            <div class="col-md-3">
                <img src="img/emp4.png">
                <h3>Novartis</h3>
                <p>Full Stack Engineer</p>
            </div>
        </a>
    </div>
    <div class="clearfix"></div>
</section>