<section id="experience">
  <div class="col-md-8 col-md-offset-2">
    <h1>Experience</h1>
    <div class="experience">
      <div class="col-md-4 col-xs-5 experience-icon">
        <i class="fa fa-4x fa-code"></i>
        <h4>Web</h4>
        <h4>Developer</h4>
      </div>
      <div class="col-md-8 col-xs-7 experience-info">
        <p>Web development has been a passion of mine for as long as I can remember. I love being able to create, design, and contribute to useful applications that are easy for others to understand as well as visually appealing. I started out learning mostly front end, but have been developing closer towards the full stack. I've worked on various projects for school, for work, and even have some independent projects that I started out of my own interest. You can find them listed in the portfolio section of this site, just use the 'Website' filter. Their respective source codes can be found on my GitHub.</p>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="experience">
      <div class="col-md-4 col-xs-5 experience-icon">
        <i class="fa fa-4x fa-desktop"></i>
        <h4>Software</h4>
        <h4>Engineer</h4>
      </div>
      <div class="col-md-8 col-xs-7 experience-info">
        <p>I aspire to develop software that will make a difference in the world. My coursework at Northeastern University has set most of my programming foundation, but I've had help from books, videos, and sites that I've studied outside of my curriculum. My experiences have exposed me to working with HTML, CSS (SASS / Bootstrap), and JavaScript (jQuery) on the frontend with frameworks like Angular and Backbone, some middle tier work with Java and PHP (Slim Framework v2), and some scripting with Python and SQL.</p>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="experience">
      <div class="col-md-4 col-xs-5 experience-icon">
        <i class="fa fa-4x fa-pencil"></i>
        <h4>Graphic</h4>
        <h4>Designer</h4>
      </div>
      <div class="col-md-8 col-xs-7 experience-info">
        <p>I used to mess around on MS Paint, but Adobe Photoshop was really what opened doors to another passion of mine. I made small animations and ended up doing some graphic design for a couple of organizations I was heavily involved in at Northeastern. I created most marketing materials like flyers, banners, and logos. It was another creative outlet for me and I liked being able to contribute to my organizations while at the same time learning, practicing, and refining new skills.</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="clearfix"></div>
</section>