<footer>
    <a target="_blank" href="http://www.github.com/ASeeto">
        <i class="fa fa-1x fa-github-square"></i>
    </a>
    <a target="_blank" href="http://www.linkedin.com/in/alexanderseeto">
        <i class="fa fa-1x fa-linkedin-square"></i>
    </a>
    <a target="_blank" href="http://www.twitter.com/alexseeto">
        <i class="fa fa-1x fa-twitter-square"></i>
    </a>
    <a target="_blank" href="http://www.pinterest.com/seetoalexander">
        <i class="fa fa-1x fa-pinterest-square"></i>
    </a>
    <a target="_blank" href="http://www.blog.alexseeto.com">
        <i class="fa fa-1x fa-tumblr-square"></i>
    </a>
</footer>