<ul class="portfolio">
	<% _.each(projects, function(project) { %>
	<li class="item col-md-3" data-id="id-<%= project.get('id') %>" data-type="<%= project.get('type') %>">
		<a href="<% if ( project.get('video') ) { %><%= project.get('video') %><% } else { %>img/portfolio/<%= project.get('img') %><% } %>" 
		   data-title="<%= project.get('title') %>" 
		   data-footer="<div class='details'><h3><%= project.get('title') %></h3><p><span class='sub'>Tools: </span><%= project.get('tools') %></p><p><span class='sub'>Description: </span><%= project.get('description') %></p><% if ( project.get('link') ) { %><p><span class='sub'>Link: </span><a target='_blank' href='<%= project.get('link') %>'><%= project.get('link') %></a></p><% } %><% if ( project.get('git') ) { %><p><span class='sub'>Git: </span><a target='_blank' href='<%= project.get('git') %>'><%= project.get('git') %></a></p><% } %></div>"
				 data-toggle="lightbox">
			<div class="pf_item" data-modal="pf_item<%= project.get('id') %>" 
					 style="background-image: url(img/portfolio/<%= project.get('img') %>)">
				<div class="pf_label">
					<h2><%= project.get('title') %></h2>
					<p class="pf_shortdesc"><%= project.get('year') %> <%= project.get('type') %></p>
				</div>
			</div>
		</a>
	</li>
	<% }); %>
</ul>